KafkaServer {
  org.apache.kafka.common.security.plain.PlainLoginModule required
  serviceName="kafka"
  username="admin"
  password="{{ admin_user_password }}"
  user_admin="{{ admin_user_password }}";
};